header.relative.flex.h-48.items-center
  .absolute.h-full.w-full.overflow-hidden.bg-gradient-to-r(class="from-sky-800/50 to-indigo-800/50")
    img.relative.-z-1.h-full.w-full.object-cover.blur-xs(
      src="/assets/images/ice.jpg",
      alt="Images Cover"
    )
  .container.mx-auto.px-4.text-center.text-white
    h1.animated.fadeIn.drop-shadow
      if title==='Home'
        span
          i.bi.bi-house.mr-3
          | #{ pageHeader }
      else if page==='post'
        span
          i.bi.bi-vector-pen.mr-3
          | #{ pageHeader }
      else
        span= pageHeader
    nav.drop-shadow(class="hover:text-white")
      ul.animated.fadeIn.flex.justify-center.gap-x-4
        each item in site.pages
          li
            a.p-2.font-medium.text-blue-300.uppercase(
              href="/" + item,
              class="hover:underline hover:decoration-3 hover:underline-offset-4",
              class=item === page ? "text-white font-semibold" : " underline-offset-4"
            )= item
