header.relative.flex.items-center(class='h-[12rem]')
  .absolute.w-full.h-full.overflow-hidden.bg-gradient-to-r(class='from-sky-800/50 to-indigo-800/50')
    img.relative.w-full.h-full.object-cover.-z-10.blur-sm(src='/assets/images/ice.jpg', alt='Images Cover')
  .container.px-4.mx-auto.text-center.text-white
    h1.drop-shadow.animated.fadeIn
      if title==='Home'
        span.align-middle
          i.bi.bi-house
          |#{ pageHeader }
      else
        span= pageHeader
    nav.drop-shadow(class='hover:text-white')
      ul.flex.justify-center.gap-x-6.animated.fadeIn
        each value, key in {'/': 'Home', '/post.html': 'Post', '/404.html' :'Error 404'}
          li
            a.text-white.font-medium.uppercase(
              class='hover:text-white hover:underline hover:underline-offset-4 hover:decoration-4',
              class=title === value ? 'underline underline-offset-4 decoration-4 decoration-red-500' : '',
              href=key
            )= value
